.edge-main {
  text-align: center;
  background-color: blue;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  border-top: 5rem solid rgb(251,5,6);
  border-left: 1rem solid rgb(251,5,6);
  border-right: 1rem solid rgb(251,5,6);
  border-bottom: 2rem solid rgb(251,5,6);
}
